[Unit]
Description=Present USB gadget at boot
After=multi-user.target
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=__GADGET_DIR__/scripts/present_usb.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target