[Unit]
Description=TeslaCam Thumbnail Generator Timer
Requires=thumbnail_generator.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
